<!DOCTYPE html>
<html>
<head>
    <title>Travel Diary</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <h1>Dear Travel Diary...</h1>
        <a href="/places/new">Add a new journal entry.</a>
        <a href="/places">See your journal entries so far</a>
    </div>
</body>
</html>